site_name: Physics 201: Physics with Calculus
theme:
  name: material
  palette: 
    scheme: slate 
    primary: teal
    accent: purple
  features:
    - navigation.tabs
    - search.suggest

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
